Flask==0.10.1
uWSGI==2.0.15
Flask-SQLAlchemy==2.1
PyMySQL==0.7.6
Flask-HTTPAuth==2.2.1
Flask-Script==2.0.5
Flask-Migrate==1.8.0
python-dateutil==2.4.2
boto3==1.2.3
requests==2.10.0
pytest==3.2.5
pytest-cov==2.4.0
pytest-flake8==0.9.1
responses==0.5.1
Sphinx==1.5.1
sphinx-rtd-theme==0.1.9
numpydoc==0.5
sphinxcontrib-httpdomain==1.4.0
