# TLS secrets for ssl-proxy
#
# From https://github.com/GoogleCloudPlatform/kube-jenkins-imager/blob/master/ssl_secrets.template.yaml

apiVersion: v1
kind: Secret
metadata:
  name: ssl-proxy-secret
  namespace: default
data:
  # base64 -i example_org.crt
  proxycert: ''
  # base64 -i example_org.key
  proxykey: ''
  # openssl dhparam -out dhparam.pem 2048
  # base64 -i dhparam.pem
  dhparam: ''
